nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    height: 3rem;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-around;

}

.left-side{
    width:60%;
    display: flex;
}
.company-name{
    margin-right: 2rem;
}